<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .padded {
        padding: 50px 0;
    padding-left: 60px;
    padding-right: 60px;
}
.hero-container{
    position: relative; 
  
}
      p.Lines {
    border-top: 1px solid;

    width: 73px;
}
.hero-containe img{
    max-width: 100%;
}
      h2.lowercase-text {
    line-height: 58px;
    margin-right: 130px;
}
      section.section-instagram-feed-wrapper {
    padding-bottom: 8rem;
}
.hero-container p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: #fff;
    margin: 0;
}

.lowercase {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 145px;
    padding-right: 145px;
}
.story-description {
    width: calc(50% - 23px);
    padding: 60px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}
.story-description p {
    line-height: 30px;
}
.image-wrapper {
    width: calc(50% - 23px);
    overflow: hidden;
}
section.padded .igt-story:nth-child(odd){
    flex-direction: row-reverse;
}
.igt-story {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.section-text-with-image-wrapper .element-container {
    position: relative;
    align-items: center;
}
section-text-with-image-wrapper .element-content-wrapper {
    width: 40%;
    margin-right: 150px;
    padding: 30px 0;
}
.section-text-with-image-wrapper .element-media {
    width: 100%;
    padding-left: 0;
}
.section-text-with-image-wrapper .element-content {
    padding-right: 0;
}
.section-text-with-image-wrapper .text-block {
    margin-bottom: 32px;
}
    section.newsl-foot {

    padding-left: 5%;
}
.section-text-with-image-wrapper .element-action {
    margin-top: 28px;
}
.element-content.padded {
   
    padding-left: 60px;
    padding-right: 0;
}
.element-container.flex {
    display: flex;
    position: relative;
    align-items: center;
}
.element-content-wrapper {
    width: 40%;
    margin-right: 150px;
    padding: 30px 0;
}
.element-media.padded {
    width: 100%;
    padding-left: 0;
}
.element-media.padded img {
    width: 100%;
}
h2.letterspace {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 60px;
}
p.leading {
    font-size: 16px;
    line-height: 30px;
    color: #000;
}
a.underlined.text-leading.reset-letterspace {
    color: #000;
}
.padded.home-img h3 {
    text-align: center;
}
.padded.home-img img {
    width: 100px;
  
}
a.tdoors {
    color: #000;
    font-size: 26px;
    letter-spacing: .17em;
    line-height: 30px;
 
    text-transform: uppercase;
    text-decoration: none;
}
.hide-Mobile{
    display: none;
}
@media only screen and (max-width: 576px){
    .padded {
    padding: 20px 0;
    padding-left: 20px;
    padding-right: 20px;
}
.hide-Mobile{
    display: block;
}
.hide-desktop{
    display: none;
}
.lowercase{
    display: block;
    padding: 0;
}
.image-wrapper img{
   max-width: 100%;
}
}
@media only screen and (max-width: 1025px){
    .padded {
    padding: 20px 0;
    padding-left: 20px;
    padding-right: 20px;
}
  section.newsl-foot{
    padding-left:0;
  }
.lowercase{
    display: block;
    padding: 0;
}
.hero-container p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff;
    margin: 0;
    width: 100%;
    text-align: center;
}
h2.h3.story-headline {
    font-size: 28px;
}
.image-wrapper img{
   max-width: 100%;
}
    .story-description{
        width: 100%;
        padding: 0;
    }
    .image-wrapper img{
   max-width: 100%;
}
.igt-story{
    display: block;
    margin-bottom: 20px;
}
.image-wrapper{
width: 100%;
}
.element-container.flex{
    flex-direction: column-reverse;
}
.element-content.padded{
    padding-left: 0;
}
.element-content-wrapper{
    width: 100%;
    padding: 0 20px;
    margin: 0;
}
h2.letterspace{
    font-size: 28px;
    line-height:36px;
}
p.leading{
    line-height: 24px;
}
section.section-instagram-feed-wrapper {
    padding-bottom: 5rem;
}
}
      p.b {
  font-style: italic;
}
    </style>
</head>

<body>
    <div class="container">
        <div class="padded">
          <div class="hero-container">
        
               <img class="hide-desktop" src="https://cdn.shopify.com/s/files/1/0092/7173/8464/files/Information_Videos_Youtube_Thumbnails_900_x_1600_px_14.jpg?v=1679557195" style="width: 100%;" alt="Sustainability and Responsibility">
               <img class="hide-Mobile" src="https://cdn.shopify.com/s/files/1/0092/7173/8464/files/pages_900_x_1600_px_1.jpg?v=1679309661" style="width: 100%;" alt="Sustainability and Responsibility">
               <!-- <p>This is some centered text.</p> -->
          </div>
        </div>
      </div>
<div class="callout-wrapper">
      <div class="container">
        <section class="padded">
            <div class="lowercase">
                <h2 class="lowercase-text">MISSION</h2>
                <div class="text-leading">
                    <p>Our mission at SilverAnt is to inspire and equip people with the gear to explore and enjoy the outdoors. We do this by creating the best quality titanium products that are built for a lifetime of adventures. </p>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="callout-section">
    <div class="grey-bg-wrapper">
        <div class="container wysiwig-wrapper">
          <section class="padded">
            
                <div class="igt-story">
                    <div class="image-wrapper">
                      <img class=" ls-is-cached lazyloaded" src="https://cdn.shopify.com/s/files/1/0092/7173/8464/files/1_40ee6c61-4c78-4f10-be34-a3d4e9c31ad6.jpg?v=1679306373" alt="Story Image 1">
                    </div>
                    <div class="story-description">
                        <h2 class="h3 story-headline">Our Promise and Commitment</h2>
      
                        
                          <p>At SilverAnt, our promise is to provide outdoor enthusiasts with the best gear for a lifetime of adventures. We are committed to creating durable, high-quality products that meet the needs of our customers.<br><br>
                            We strive to exceed our customers' expectations and provide exceptional service that reflects our values of quality craftsmanship, innovation, sustainability, inclusivity, and passion for the outdoors.<br><br>
                            We are committed to constantly innovating and improving our products to meet the changing needs of the outdoor community. We understand that different activities need different gear. With this knowledge, we strive to create products that cater to a diverse range of interests and activities.</p>
                        
      
                    </div>
                </div>
            
                <div class="igt-story">
                    <div class="image-wrapper">
                      <img class=" ls-is-cached lazyloaded" src="https://cdn.shopify.com/s/files/1/0092/7173/8464/files/2_d1f29122-19d8-4e24-9956-8884ea7d3f63.jpg?v=1679306373" alt="Story Image 2">
                    </div>
                    <div class="story-description">
                        <h2 class="h3 story-headline">Inclusivity and Diversity</h2>
      
                        
                          <p>At SilverAnt, we foster an inclusive and diverse global community that reflects the values and principles of our brand. We know that a diverse team brings new perspectives, ideas, and creativity to our products and helps us to better serve our customers.<br><br>
                            We are committed to creating a welcoming environment for individuals of all backgrounds to work and thrive in. We value and celebrate the unique differences that make each of us who we are. SilverAnt believes that our multicultural perspective helps us to create better products and foster a more inclusive outdoor community.<br><br>
                            Our team is made up of people from all over the world, and we actively seek to attract and retain talent from diverse backgrounds. We do not discriminate based on race, ethnicity, gender, sexual orientation, religion, age, or any other characteristic. We believe that everyone should have the opportunity to contribute and grow within our company.</p>
                        
      
                    </div>
                </div>
            
                <div class="igt-story">
                    <div class="image-wrapper">
                      <img class=" ls-is-cached lazyloaded" src="https://cdn.shopify.com/s/files/1/0092/7173/8464/files/6.jpg?v=1679306373" alt="Story Image 3">
                    </div>
                    <div class="story-description">
                        <h2 class="h3 story-headline">Partnerships</h2>
      
                        <p class="b">“If you want to go fast, go alone, if you want to go far, go together”. <br>African Proverb</p>
                          <p>At SilverAnt, we believe in making a tangible impact on the world around us. That's why we're proud to partner with like-minded content creators, organizations, and advocates who share our passion for the outdoors.<br><br>
                          Through our partnerships, we work towards greater access to nature and support underserved communities. SilverAnt supports organizations, individuals, and experts in their field to make a positive impact on the environment and society.<br><br>
                          Our partnerships go beyond financial contributions and product donations. We use our outdoor business to showcase authentic stories of our partners' work and amplify their message. We believe that by working together, we can make a meaningful difference in the world.<br><br>
                          Some of our recent and ongoing partners include the <a style="text-decoration:underline"; href="https://www.mainechildrenshome.org/"; target="_blank"; rel="noopener noreferrer">Maine Children's Home</a>for their Outdoor Recreation program. As well as the <a style="text-decoration:underline"; href="https://www.hotdoghike.com/"; target="_blank"; rel="noopener noreferrer">Hot Dog Hike</a> for homelessness.<br><br>
                          As SilverAnt grows we look forward to continuing to work with our partners and creating a larger impact.</p>
                          
                        
      
                    </div>
                </div>
            
                <div class="igt-story">
                    <div class="image-wrapper">
                      <img class=" ls-is-cached lazyloaded" src="https://cdn.shopify.com/s/files/1/0092/7173/8464/files/3_30b62d67-18f5-4b1f-bc42-f0501bf9cb7d.jpg?v=1679306373" alt="Story Image 4">
                    </div>
                    <div class="story-description">
                        <h2 class="h3 story-headline">Sustainability at SilverAnt</h2>
      
                        
                          <p>At SilverAnt, we are committed to reducing our impact on the environment and promoting sustainability in every aspect of our business. We believe that it is our responsibility to protect the planet and its resources for future generations.<br><br>

To work towards being a responsible business we have now partnered with <a style="text-decoration:underline"; href="https://app.getgreenspark.com/dashboard/1687637516787/silverant-outdoors"; target="_blank"; rel="noopener noreferrer">Greenspark</a>. For every order you place we offset the impact by planting trees, capturing carbon, and rescuing plastic bottles from the ocean.<br><br>

As a company we are implementing strategies and partnering with organisations that help us reduce our Carbon Footprint as well as certifying  and validating our commitment to sustainability. This in turn showcases our commitment to environmentally friendly practices. <br><br>

Sustainability is an ongoing journey, and there's always room for improvement. By addressing various aspects of our business, from sourcing materials to end-of-life management, we can continue to enhance SilverAnt's positive impact on the environment while delivering quality products to you our customers!</p>
                        
      
                    </div>
                </div>
            
                <div class="igt-story">
                    <div class="image-wrapper">
                      <img class=" ls-is-cached lazyloaded" src="https://cdn.shopify.com/s/files/1/0092/7173/8464/files/4_6c98e1f6-cde0-468e-9778-7bff91e9220a.jpg?v=1679306373" alt="Story Image 5">
                    </div>
                    <div class="story-description">
                        <h2 class="h3 story-headline">Product Sustainability</h2>
      
                        
                          <p>As a company, we strive to create products that are built to last a lifetime. This means fewer products ending up in landfills.<br><br>
                          All SilverAnt's products are made with titanium, that is built to endure the toughest outdoor conditions. Nevertheless, we are also acutely aware that titanium is a precious metal and for extraction it is mined. With this knowledge at our own manufacturing facility, we recycle all possible waste. We also make sure that our products are repairable, so you can fix them instead of replacing them. <br><br>
For our packaging we work with eco-friendly packaging materials that can be easily recycled or are biodegradable. <br></p>
                  <p class="b">Lastly we offer a lifetime guarantee for our titanium products.</p>
            
      
                    </div>
                </div>
              
          </section>
        </div>
      </div>
      <div class="callout-section padded">
        <div class="container">
            <div class="element" data-text-with-image="">
                <div class="element-container flex">
                    <div class="element-content-wrapper">
                        <div class="element-content padded">
                            <div class="text-block">
                                <h2 class="letterspace">SilverAnt Lifetime Guarantee</h2>
                                <p class="leading">At SilverAnt we make titanium gear thats built for a lifetime of adventures. We manufacture everything we make and stand behind the quality of our craftsmanship with our lifetime guarantee.</p>
                            </div>
                            <div class="element-action">
                                <a href="https://silverantoutdoors.com/pages/lifetime-warranty" class="underlined text-leading reset-letterspace">Learn More</a>
                                    <p class="Lines"></p>
                            </div>
                        </div>
                    </div>
                    <div class="element-media padded">
                        <img class=" ls-is-cached lazyloaded" src="https://cdn.shopify.com/s/files/1/0092/7173/8464/files/4.jpg?v=1679299867" alt="SilverAnt Lifetime Guarantee">
                    </div>
                </div>
            </div>
        </div>
      </div>
<!-- 隐藏ins -->
<!--       <section class="section-instagram-feed-wrapper">
        <div class="container">
            <div class="padded home-img">
                
                    <h3><a href="https://www.instagram.com/silverantoutdoors" target="_blank" class="tdoors">
                        @silverantoutdoors
                    </a></h3>
                
                
                    <h4 class="lowercase reset-letterspace">Join our community of outdoor enthusiasts and follow SilverAnt Outdoors on Instagram.</h4>
                

                <div class="list-instagram slick-list" id="instagram-feed"></div>
            </div>
        </div>
    </section> -->

<link rel="stylesheet" href="//cdn.shopify.com/s/files/1/0092/7173/8464/t/14/assets/section-newsletter.min.css?v=118784609688377186671678775844" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link href="//cdn.shopify.com/s/files/1/0092/7173/8464/t/14/assets/section-newsletter.min.css?v=118784609688377186671678775844" rel="stylesheet" type="text/css" media="all" /></noscript>
<section class="newsl-foot">
<div class="homepage-sections-wrapper homepage-sections-wrapper--white newsletter--section" data-wetheme-section-type="newsletter--newsletter" data-wetheme-section-id="template--16052689404082__16285862119b643d6f">
  <div class="wrapper shown-on-scroll animated fadeInUp">
    <div class="grid row--table">
        <div class="grid__item large--one-half medium--one-half small--one-whole newsletter--section--grid vertical--align">

            <div class="newsletter--section--grid_inner newsletter_title">
                <h3 class="homepage-sections--title">Subscribe To Our Newsletter:</h3>

                
                    <div class="rte"><p>Join our outdoor community to receive updates from SilverAnt. From exclusive product promotions to captivating articles, podcasts, and expert product guides, our emails unveil a world of inspiration each month. Plus, for every subscription, we're committed to <i><b>planting a tree</b></i> and contributing to a greener planet. Stay in the loop with our latest company updates, trends, and the innovative world of our titanium outdoor products. Don't miss out—subscribe now and be a part of our outdoor community towards a sustainable future!</p></div>
                
            </div>
        </div>

        <div class="grid__item large--one-half medium--one-half small--one-whole newsletter--section--grid vertical--align">
            <div class="newsletter--section--grid_inner newsletter_form_section">
                <form method="post" action="/contact#newsletter_section_form" id="newsletter_section_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓">
                    

                    
                        <input type="hidden" name="contact[tags]" value="newsletter">

                        <div id="newsletter-wrapper">
                            <input id="newsletter_text" type="email" value="" placeholder="Enter email" name="contact[email]" class="input-group-field email" aria-label="translation missing: en.general.newsletter_form_section.newsletter_email" autocorrect="off" autocapitalize="off">
                            <input id="newsletter_submit" type="submit" class="btn btn-default" name="subscribe" value="">
                        </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</section>




  
</div>
</body>
</html>